<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.UserMapper">
    <select id="getAllUser" resultType="com.blog.entity.User">
        select user_id,visit_count,github,brief_introduction from user;
    </select>

    <select id="getUserByIndex" resultType="com.blog.entity.User">
        SELECT  * FROM  user WHERE user.user_id = #{index};
    </select>
</mapper>